<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LYRunTimeLog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD01E8BC1F3C0476007CC1A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD01E8D51F3C0477007CC1A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD01E8E01F3C0477007CC1A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
